.products__List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Căn giữa các sản phẩm */
    gap: 20px;
    /* Khoảng cách giữa các sản phẩm */
    padding: 20px;
    margin-top: 20px;
}

.products__Item {
    width: calc(50% - 40px);
    /* Đảm bảo 2 cột trên màn hình lớn */
    max-width: 300px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.products__Item:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Ảnh sản phẩm */
.products__Image {
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 8px;

}

.products__Image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.products__Image:hover img {
    transform: scale(1.1);
}

/* Tiêu đề sản phẩm */
.product__title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Giá tiền */
.products__price {
    font-size: 16px;
    color: green;
    font-weight: bold;
}

/* Giảm giá */
.products__discount {
    font-size: 12px;
    color: white;
    font-weight: 500;
    position: absolute;
    background: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

/* Nút bấm */
.products__Button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: none;
}

.products__ButtonDelete,
.products__ButtonEdit {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.products__ButtonDelete {
    background: red;
    color: white;
}

.products__ButtonDelete:hover {
    background: darkred;
}

.products__ButtonEdit {
    background: blue;
    color: white;
}

.products__ButtonEdit:hover {
    background: darkblue;
}

.button__Create {
    background: greenyellow;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    color: black;
    margin-left: 20px;
    transition: 0.3s ease;
}

.button__Create:hover {
    background: rgb(31, 167, 60);
    color: white;
    transform: scale(1.1);
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
    .products__Item {
        width: 80%;
        /* Trên màn hình nhỏ, chỉ hiển thị 1 cột */
    }
}

@media (max-width: 480px) {
    .products__Item {
        width: 100%;
        /* Trên màn hình rất nhỏ, full chiều rộng */
    }
}